{% extends "agg/base.html" %}
{% block advicetitle %}Remain can win if we back one party{% endblock %}
{% block adviceblock %}
<p>
Tactical voting websites disagree on which party to vote for.
</p>
<p>
Some websites base their suggestions on the 2017 General Election, while others use recent opinion polls.
</p>
<p>
Will Labour gain voters during a successful election campaign, like in 2017?
Or will the Liberal Democrats sustain the momentum gained during the European Parliament elections?
</p>
<p>
Use your local knowledge: keep an eye on local newspapers, <a href="https://electionleaflets.org/">election leaflets</a>, and social media.
</p>
{% endblock %}
