{% extends "agg/base.html" %}
{% block advicetitle %}Remain can win if we back one party{% endblock %}
{% block adviceblock %}
  <li>Remain parties need to work together to maximise the chances of winning.</li>
  <li>It is not certain which remain party to back: in the recommendations below, more than one remain party could win.</li>
  <li>Use your local knowledge: keep an eye on local newspapers, <a href="https://electionleaflets.org/">election leaflets</a>, and social media.</li>
{% endblock %}
