{% extends "agg/base-vote.html" %}
{% block image %}alliance-plaid.png{% endblock %}
{% block party %}Plaid Cymru{% endblock %}
{% block adviceblock %}
  <li>Vote for <em class="plaid">Plaid Cymru</em>. Plaid Cymru are offering <a href="https://www.partyof.wales/plaid_cymru_conference_in_huge_support_for_commitment_to_people_s_vote">a new referendum with an option to remain</a>.</li>
  <li>No other remain party can win here. Splitting the vote could cause us to lose to a party supporting a no deal brexit.</li>
{% endblock %}
