{% extends "agg/base-vote.html" %}
{% block image %}tick/ld.png{% endblock %}
{% block party %}Liberal Democrat{% endblock %}
{% block adviceblock %}
  <li>Vote for the <em class="ld">Liberal Democrats</em>. The Lib Dems have promised to <a href="https://www.theguardian.com/politics/2019/sep/15/lib-dems-pledge-to-revoke-brexit-without-referendum">revoke Article 50</a>.</li>
  <li>No other remain party can win here. Splitting the vote could cause us to lose to a party supporting a no deal brexit.</li>
{% endblock %}
