<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{static}}/style.css" />
    <title>{% block title %}{% endblock %} - Don't Split the Remain Vote!</title>
</head>
<body>
    <div id="banner"><a href="/"><span id="banner-dont">Dont</span><span id="banner-split">Split</span><span id="banner-the">The</span><span id="banner-remain">Remain</span><span id="banner-vote">Vote</span><span id="banner-com">.com</span></a></div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        Created by <a href="https://dbatley.com/">David Batley</a>
    </div>
</body>
</html>
