{% extends "base.html" %}
{% block title %}{{constituency.name}} - Vote Tactically For Remain{% endblock %}
{% block title2 %}{{constituency.name}} - Vote Tactically For Remain{% endblock %}
{% block title3 %}{{constituency.name}} - Vote Tactically For Remain{% endblock %}
{% block moreheaders %}
  <meta name="description" content="Which remain party has the best chance of winning in #{{ constituency.hashtag }}?" />
  <meta property="og:description" content="Which remain party has the best chance of winning in #{{ constituency.hashtag }}?" />
  <meta property="article:tag" content="{{ constituency.name }}" />
{% endblock %}
{% block content %}
<h1>{{constituency.name}}</h1>

{% include 'agg/' + aggregation.template %}

{% for other_site in other_sites %}
<div class="othersite">
  <img class="tick" src="{{static}}/logo/tick/{{ other_site.party.short }}.png" alt="{{ other_site.party.name }} tick" />
  <em>{{ other_site.who_suggests }}</em> <a href="{{ other_site.url }}">recommends</a> voting for <strong class="party party-{{ other_site.party.code }}">{{ other_site.party.name }}</strong>.
</div>
{% endfor %}
<div class="othersite">
  <img class="tick" src="{{static}}/logo/tick/other.png" alt="Other tick" />
  <strong>Waiting for recommendations</strong> from <em>People's Vote</em>, <em>Remain United</em> and others.
</div>

{% if aggregation.provisional %}
<div class="othersite">
  <img class="tick" src="{{static}}/logo/tick/clock.png" alt="Clock" />
  <strong>Recommendations can change</strong>. Please check the site occasionally as the election campaign progresses.
</div>
{% endif %}

{% if pacts %}
<h3>Electoral pacts</h3>
{% endif %}

{% for pact in pacts %}
<div class="section specialfact">
  <strong class="pact party {{pact.down.short}}">{{pact.down.name}}</strong>
  is standing down in order to support
  <strong class="pact party {{pact.support.short}}">{{pact.support.name}}</strong>
</div>
{% endfor %}

<div class="widebutton"><a href="https://www.gov.uk/register-to-vote">gov.uk/register-to-vote</a></div>

<h2>Election results</h2>

<div class="section scenarios">
{% for dataset, result in datasets_election.items() %}
  {% include 'scenario.html' %}
{% endfor %}
</div>

<details>
  <summary>More polling and analysis</summary>

<h2 id="Analysis">Our own analysis</h2>
<div class="section analysis">
{% include 'analysis/' + analysis.template %}
</div>

<h3>Which outcomes are possible?</h3>
<div class="section outcome-summary">
{% for outcome, percent in outcomes %}
  <div class="outcome">
    <img class="logo" src="{{static}}/logo/{{outcome.logo}}.png" />
    {{(percent * 100)|round|int}}%
    {{outcome.name}}
    <br style="clear: both" />
  </div>
{% endfor %}
</div>

<div class="section scenarios">
{% for dataset, result in datasets_polling.items() %}
  {% include 'scenario.html' %}
{% endfor %}
</div>

</details>{# end hidden section #}

<h2>Announced candidates</h2>

{% if known_ppc %}
<ul>
  {% for ppc in known_ppc %}
      <li>{{ ppc.party.name }}: <a {% if ppc.link %}href="{{ ppc.link }}"{% endif %}>{{ ppc.name }}</a></li>
  {% endfor %}
</ul>
{% else %}
No candidates announced yet.
{% endif %}

<h2>Social</h2>

<ul>
  <li><a href="https://twitter.com/intent/tweet?url={{ this_url }}&amp;text=Which+remain+party+has+the+best+chance+of+winning+in+%23{{ constituency.hashtag }}%3F">Tweet</a></li>
</ul>

<h2>Register to Vote Today</h2>
<div class="widebutton"><a href="https://www.gov.uk/register-to-vote"><img src="{{static}}/democracy-symbol.png" style="height: 3em; width: 3em; margin-right: 0.5em; vertical-align: middle;" alt="Democracy Symbol" />gov.uk/register-to-vote</a></div>
<div class="section indent">
<strong>Student?</strong> you can register at <a href="https://twitter.com/bengoldacre/status/1188493886714535936">both your home and university address</a>, and choose which to vote at.<br />
<strong>Living abroad?</strong> you <a href="https://www.gov.uk/voting-when-abroad">may be able to vote</a> if you are a UK citizen.<br />
<strong>Homeless?</strong> you can <a href="https://www.gov.uk/government/publications/register-to-vote-if-you-havent-got-a-fixed-or-permanent-address">register without a fixed address</a>.<br />
<strong>Women's refuge?</strong> you can register <a href="https://www.electoralcommission.org.uk/i-am-a/voter/register-vote-and-update-your-details">anonymously</a>.<br />
</div>

<h2>Nearby</h2>

<ul>
  {% for con in nearby_constituency %}
      <li><a href="/constituency/{{con.slug}}.html">{{con.name}}</a></li>
  {% endfor %}
  <li><a href="/constituency/">All constituencies</a></li>
</ul>

{% endblock %}
