{% extends "base.html" %}
{% block title %}{{constituency.name}} - Vote Tactically For Remain{% endblock %}
{% block title2 %}{{constituency.name}} - Vote Tactically For Remain{% endblock %}
{% block title3 %}{{constituency.name}} - Vote Tactically For Remain{% endblock %}
{% block moreheaders %}
  <meta name="description" content="Which remain party has the best chance of winning in #{{ constituency.hashtag }}?" />
  <meta property="og:description" content="Which remain party has the best chance of winning in #{{ constituency.hashtag }}?" />
  <meta property="article:tag" content="{{ constituency.name }}" />
{% endblock %}
{% block content %}
<h1 class="constituency-name">{{constituency.name}}</h1>

{% include 'agg/' + aggregation.template %}

{% for other_site in other_sites %}
<div class="othersite">
  <img class="tick" src="{{static}}/logo/tick/{{ other_site.party.short }}.png" alt="{{ other_site.party.name }} tick" />
  <em>{{ other_site.who_suggests }}</em> <a href="{{ other_site.url }}">recommends</a> voting for <strong class="party party-{{ other_site.party.code }}">{{ other_site.party.name }}</strong>.
</div>
{% endfor %}

{% if aggregation.provisional %}
<div class="othersite">
  <img class="tick" src="{{static}}/logo/tick/clock.png" alt="Clock" />
  <strong>Recommendations can change</strong>. Please check the site occasionally as the election campaign progresses.
</div>
{% endif %}

{% if pacts %}
<h3>Electoral pacts</h3>
{% endif %}

{% for pact in pacts %}
<div class="section specialfact">
  <strong class="pact party {{pact.down.short}}">{{pact.down.name}}</strong>
  is standing down in order to support
  <strong class="pact party {{pact.support.short}}">{{pact.support.name}}</strong>
</div>
{% endfor %}

{% if aggregation.disagreement %}
<h2>Why do tactical voting websites disagree?</h2>
<p>
Some websites base their suggestions on the 2017 General Election, while others use recent opinion polls.
</p>
<p>
Will Labour gain voters during a successful election campaign, like in 2017?
Or will the Liberal Democrats sustain the momentum gained during the European Parliament elections?
</p>
<p>
Use your local knowledge: keep an eye on local newspapers, <a href="https://electionleaflets.org/">election leaflets</a>, and social media.
</p>
{% endif %}

<div class="candidates">
  {% if best_ppc %}
    <div class="candidate-standout">
      <h2>{% if best_ppc.sitting_mp %}Re-elect{% else %}Vote for{% endif %} {{ best_ppc.name }}</h2>
      {% if best_ppc.image %}
        <img src="{{best_ppc.image}}" alt="Image of candidate" />
      {% endif %}
      <p>
        <a href="{{ best_ppc.link }}">{{  best_ppc.name }}</a> is the <strong class="party-{{best_ppc.party.short}}">{{ best_ppc.party.name }}</strong> candidate.
      </p>
      {% if best_ppc.social_links %}
        <p>Find them on:</p>
        <ul>
          {% for social_name, social_url in best_ppc.social_links %}
            <li><a href="{{ social_url }}">{{ social_name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="other-candidates">
      {% if worst_ppc %}
        <p>
          {{best_ppc.name}} has the best chance of defeating
          <a {% if worst_ppc.link %}href="{{ worst_ppc.link }}"{% endif %}>{{ worst_ppc.name }}</a>,
          the current {{worst_ppc.party.name}} MP.
        </p>
      {% endif %}
      <p>
        Also standing here are:
        {% for ppc in other_ppc %}
          <a {% if ppc.link %}href="{{ ppc.link }}"{% endif %}>{{ ppc.name }}</a> (<span class="party-{{ppc.party.short}}">{{ ppc.party.name }}</span>)
        {% endfor %}
      </p>
    </div>
  {% else %}
    <h2>Candidates</h2>
    <div class="list-candidates">
      <ul>
        {% for ppc in known_ppc %}
          <li><span class="party-{{ppc.party.short}}">{{ ppc.party.name }}</span>: <a {% if ppc.link %}href="{{ ppc.link }}"{% endif %}>{{ ppc.name }}</a>{% if ppc.sitting_mp %} (current MP){% endif %}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div class="candidates-source">
    Source: <a href="https://whocanivotefor.co.uk/">Who Can I Vote For</a>.
  </div>
</div>

<h2>Election results</h2>

<div class="section scenarios">
{% for dataset, result in datasets_election.items() %}
  {% include 'scenario.html' %}
{% endfor %}
</div>

<details>
  <summary>More polling and analysis</summary>

<h2 id="Analysis">Our own analysis</h2>
<div class="section analysis">
{% include 'analysis/' + analysis.template %}
</div>

<h3>Which outcomes are possible?</h3>
<div class="section outcome-summary">
{% for outcome, percent in outcomes %}
  <div class="outcome">
    <img class="logo" src="{{static}}/logo/{{outcome.logo}}.png" />
    {{(percent * 100)|round|int}}%
    {{outcome.name}}
    <br style="clear: both" />
  </div>
{% endfor %}
</div>

<div class="section scenarios">
{% for dataset, result in datasets_polling.items() %}
  {% include 'scenario.html' %}
{% endfor %}
</div>

</details>{# end hidden section #}

<h2>Take action</h2>

{% if aggregation.important %}
  <p>This is a <strong>marginal constituency</strong> on tacticalvote.co.uk's <a href="https://tacticalvote.co.uk/key-seats/">Key Seats</a>.</p>
  {% if aggregation.party.short == 'lab' %}
    <div class="widebutton"><a href="https://volunteer.labour.org.uk/">Campaign with Labour in this constituency</a></div>
  {% elif aggregation.party.short == 'ld' %}
    <div class="widebutton"><a href="https://www.libdems.org.uk/volunteer">Help the Liberal Democrats in this constituency</a></div>
  {% elif aggregation.party.short == 'snp' %}
    <div class="widebutton"><a href="https://www.snp.org/volunteer/">Help the Scottish National Party in this constituency</a></div>
  {% else %}
    <div class="widebutton">Volunteer with {{aggregation.party.name}} in this constituency</div>
  {% endif %}
{% else %}
  <p>The most effective action you can take right now is to <strong>campaign in a marginal constituency</strong>.</p>
{% endif %}
{% for cp in nearby_constituency_pages %}
  {% if cp.aggregation.important %}
    {% if not aggregation.important or aggregation.party != cp.aggregation.party %}{# hide any nearby constituencies which are the same party as "campaign HERE" #}
      <div class="widebutton"><a href="/constituency/{{cp.constituency.slug}}.html">Campaign in {{cp.constituency.name}} ({{cp.aggregation.party.name}})</a></div>
    {% endif %}
  {% endif %}
{% endfor %}
<div class="widebutton"><a href="https://www.talkaboutbrex.co.uk/help/">Have constructive conversations about brexit</a></div>
{% if aggregation.party %}
  {# <div class="widebutton"><a href="https://www.swapmyvote.uk/">Don't like {{aggregation.party.name}}? Vote swap!</a></div> #}
{% endif %}

<h2>Nearby</h2>

<div class="widebutton"><a href="/constituency/#{{constituency.county}}">Constituencies in {{constituency.county}}</a></div>
<div class="widebutton"><a href="/constituency/">All constituencies</a></div>

{% endblock %}
