{% extends "base.html" %}
{% block title %}Vote Tactically For Remain{% endblock %}
{% block title2 %}Vote Tactically For Remain{% endblock %}
{% block title3 %}Vote Tactically For Remain{% endblock %}
{% block content %}

<p class="introduction">
We need to work together to win the election.
In 2015, <strong>most people</strong> voted for someone who <strong>didn't become their MP</strong>.
</p>

<form class="postcode-search" action="/query/postcode/redir/" method="POST"><div><input type="text" spellcheck="false" autocorrect="off" maxlength="9" class="postcode" name="postcode" placeholder="SW1A 0AA" /><input type="submit" value="&#128269;" /></div></form>

<p class="introduction">
Enter a postcode or click on a region to compare recommendations from up to 6 tactical voting websites for the 12 December 2019 general election.
</p>

{% block morecontent %}
{% endblock %}
{% endblock %}
