{% extends "base.html" %}
{% block title %}Vote Tactically For Remain{% endblock %}
{% block title2 %}Vote Tactically For Remain{% endblock %}
{% block title3 %}Vote Tactically For Remain{% endblock %}
{% block content %}

<h1>Don't Split The Remain Vote</h1>

<p class="introduction">
We need to work together to win the election.
In 2015, <strong>most people</strong> voted for someone who <strong>didn't become their MP</strong>.
</p>

<form class="postcode-search" action="/postcodes.php" method="POST">
  <input type="text" class="postcode" name="postcode" placeholder="SW1A 0AA" />
  <input type="submit" value="⮰" />
</form>

<h3>Which remain party should I vote for?</h3>

<p class="introduction">
We'll show you the data you need to make the decision.
</p>

<p class="introduction">
Click on a constituency to see our analysis of the possible election outcomes in the 2019 / 2020 General Election.
</p>

{% block morecontent %}
{% endblock %}
{% endblock %}
