{% extends "landing.html" %}
{% block morecontent %}

{% for region, county_dict in constituency_pages.items()|sort %}
<div class="widebutton"><a href="/constituency/#{{region}}">{{region}}</a></div>
{% endfor %}
<div class="widebutton"><a href="/constituency/">Anywhere (full list)</a></div>

<h2>More</h2>
<div class="widebutton"><a href="/other_sites.csv">Spreadsheet of everyone's recommendations</a></div>
<div class="widebutton"><a href="/datasets.html">Full list of sources</a></div>

{% endblock %}
