{% extends "base.html" %}
{% block title %}Vote Tactically For Remain{% endblock %}
{% block title2 %}Vote Tactically For Remain{% endblock %}
{% block title3 %}Vote Tactically For Remain{% endblock %}
{% block topbanner %}
{% endblock %}
{% block content %}

<form class="postcode-search" action="https://data.dontsplittheremainvote.com/postcode/redir/" method="POST"><div><input type="text" spellcheck="false" autocorrect="off" maxlength="9" class="postcode" name="postcode" /><input type="hidden" name="section" value="minimal" /><input class="submit" type="submit" value="&#128269;" /></div></form>

{% block morecontent %}
{% endblock %}

{% endblock %}
{% block footer %}
{% endblock %}
