  <div class="scenario">
    <h4><a href="/datasets.html#{{dataset.code}}">{{dataset.title}}</a></h4>
    <img class="logo" src="{{static}}/logo/{{result.classify.logo}}.png" />
    <div class="beside-logo">
      <div>{{result.description()}}</div>
      <div class="barchart">{% for party, vote in result.remainers() %}<span class="bar" title="{{party.name}}" style="background: {{party.color}}; width: {{(100 * vote)|int}}%">&nbsp;</span>{% endfor %}</div>
      <div class="barchart">{% for party, vote in result.leavers() %}<span class="bar" title="{{party.name}}" style="background: {{party.color}}; width: {{(100 * vote)|int}}%">&nbsp;</span>{% endfor %}</div>
    </div>
    <br style="clear: both" />
  </div>
