{% extends "constituency.html" %}
{% block advicetitle %}It is uncertain who to vote for{% endblock %}
{% block adviceblock %}
  <li>Our polling analysis suggests voting for {{ we_said.name }}.</li>
  <li>However, campaign groups suggest voting for {{ they_said.name }}.</li>
  <li>It is not certain which remain party to back. Use your local knowledge: keep an eye on local newspapers, <a href="https://electionleaflets.org/">election leaflets</a>, and social media.</li>
  <li><a href="/contact.html">Contact us</a> to discuss this constituency.</li>
{% endblock %}
