
div.barchart {
  height: 1.5em;
  margin: 0.5em;
}

div.barchart span.bar {
  display: inline-block;
  color: transparent;
  font-size: 1%;
  height: 100%;
}

img.mainlogo {
  width: 7em;
  height: 7em;
  margin: 0.5em;
  float: left;
}

img.logo {
  width: 5em;
  height: 5em;
  margin: 0.5em;
  float: left;
}

div.beside-logo {
  display: inline-block;
  width: calc(100% - 7em);
  min-width: 6em;
  position: relative;

  /* the speaker's elections can get close to 100%, which is enough to cause word wrapping (somehow) */
  overflow: hidden;
  white-space: nowrap;
}

div.clear {
  clear: both;
}

div.advice {
  background: #ffffff;
  color: #000000;
  border: 0.7em #cccccc solid;
  margin: 0.3em;
  padding: 0.5em;
}

li.constituency img.advice-image {
    height: 1em;
    width: 1em;
    vertical-align: center;
}


body {
  margin: 0;
  padding: 0;
  background: white;
  color: black;
}

div#content {
  margin: 0.5em;
}

div#banner,
div#footer {
  background: #cccccc;
  color: black;
}

div#banner a:link,
div#footer a:link {
  text-decoration: none;
  color: black;
}

div#banner {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 160%;
  padding-top: 0.1em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-bottom: 0.4em;
}

div#footer {
  font-size: 80%;
  padding-top: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-bottom: 0.1em;
}

div#banner #banner-dont { color: #DC241F; }
div#banner #banner-split { color: #FAA61A; }
div#banner #banner-the { color: #eeeeee; }
div#banner #banner-remain { color: #6AB023; }
div#banner #banner-vote { color: #FFF95D; }
div#banner #banner-com { font-size: 50%; color: #bbbbbb; }

ul.checklist li {
  list-style-type: '□';
  padding-left: 0.3em;
}

div.advice ul.checklist {
  display: inline-block;
  width: calc(100% - 14em);
  min-width: 80%;
}
