
div.barchart {
  height: 1.5em;
  margin: 0.5em;
}

div.barchart span.bar {
  display: inline-block;
  color: transparent;
  font-size: 1%;
  height: 100%;
}

img.mainlogo {
  width: 7em;
  height: 7em;
  margin: 0.5em;
  float: left;
}

img.logo {
  width: 5em;
  height: 5em;
  margin: 0.5em;
  float: left;
}

div.beside-logo {
  display: inline-block;
  width: calc(100% - 7em);
  min-width: 6em;
  position: relative;

  /* the speaker's elections can get close to 100%, which is enough to cause word wrapping (somehow) */
  overflow: hidden;
  white-space: nowrap;
}

div.clear {
  clear: both;
}

div.advice {
  background: #ffffff;
  color: #000000;
  border: 0.7em #cccccc solid;
  margin: 0.3em;
  padding: 0.5em;
}

li.constituency img.advice-image {
    height: 1em;
    width: 1em;
    vertical-align: center;
}
